<mat-accordion>
    <mat-expansion-panel disabled expanded>
        @for(message of (messages | async); track message?.content) {
        <div class="d-flex">
            <p>({{message.time | date: 'mediumTime'}})</p>
            <strong class="pe-2">{{message.author}}:</strong>
            <p>{{message.content}}</p>
        </div>
        } @empty {
        <div> No Messages</div>
        }
    </mat-expansion-panel>
    @if(botIsTyping | async) {
        <p>Bot is typing..</p>
    }
</mat-accordion>